/* .scrollTop{
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 20px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    background: #1890ff;
    border-radius: 50px;
    cursor: pointer;
}

.reflow{
    width: 600px;
    height: 600px;
    background: red;
}
.next {
    width: 600px;
    height: 600px;
    background: yellow;
}
p {
    line-height: 50%;
}
.padding {
    width: 30%;
    height: 0;
    padding-bottom: 30%;
    background-color: yellow;
}
.lazy-ui li{
    height: 400px;
}

.trainsform {
    width: 300px;
    height: 300px;
    margin: auto;
}
.trainsform1 {
    transform: translate(0, 0);
    background: #1890ff;
}
.trainsform2 {
    transform: translate(0, -300px);
    background: red;
}

#obverseDom p {
    color: red;
} */


/* float布局 */
/* .container {
}
.container .left-c{
    position: absolute;
    width: 200px;
    left: 0;
    background: yellow
}
.container .right-c{
    position: absolute;
    width: 200px;
    right: 0;
    width: 200px;
    background: blue;
}
.container .center-c{
    background: red;
    position: absolute;
    left: 200px;
    right: 200px
} */

.container {
}
.container .left-c{
    float: left;
    width: 200px;
    background: yellow
}
.container .right-c{
    float: left;
    background: blue;
    width: 100%
}